<div class="container text-center">
  <div class="row justify-content-between">
    <div class="col-6">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Battles</h5>
          <p class="card-text">Discover and create the epic pokemon battles and immerse yourself in thrilling adventures.</p>
          <a href="<%= battles_path %>" class="btn btn-secondary">Go to the Battles</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Pokemons</h5>
          <p class="card-text">Embark on a journey to discover and train powerful Pokemons to become a Pokemon Master!</p>
          <a href="<%= pokemons_path %>" class="btn btn-secondary">See the pokemons list</a>
        </div>
      </div>
    </div>
  </div>
</div>